@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');



body {
  font-family: 'Arvo', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.root{
  display: flex;
  flex-direction: column;
  
}

header{
  background-color: #0B2D32;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
header img{
  height: 40px;
  align-content: flex-start;
  
}

.search {
  background-color: transparent;
  color: white;
  border:2px solid #0C444B;
  border-radius: 50px;
  
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0.7rem ;
  
}

.search:focus{
  outline: none;
}

.movie{
  /* background-color:#0E4C54 ; */
  background-color: #0C444B;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  width: 300px ;
}

.movie img{

  max-width: 100%;
}

.movie-container{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.movie-info{

  display:flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3{
  margin: 0;

}
.movie-overview{
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.2);
  color: #0C444B;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
  
  transform: translateX(0%) ;
}
.movie:hover img {
  opacity: 0.5 ;
}

.tag{

  background-color: #0B2D32;
  font-weight: bold;
  padding: 00.5rem;
  border-radius: 0.5rem;
}


.tag.green{
  color: green;
}
.tag.orange{
  color: orange;
}
.tag.red{
  color: red;
}
